* {
  box-sizing: border-box;

}
html {
  background-color: #FCFCFC;
  font-family: Arial;
  font-size: 18px;
}

#content {
  width: 800px;
  margin: 0 auto;
}

#content h1 {
  font-size: 3rem;
  text-align: center;
}

.simon-container {
  margin: 20px auto;
  width:400px;
  height:400px;
  background-color:#fff;
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.simon-container .simon-button {
  align-items: center;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}

.simon-button.green {
  background-color: #21BA45;
}

.simon-button.highlight1{
  background: lightgreen;
}

.simon-button.red {
  background-color: #DB2828;
}

.simon-button.highlight2{
  background-color: coral;
}

.simon-button.yellow {
  background-color: #FBBD08;
}

.simon-button.highlight3{
  background-color: rgb(248, 248, 164);
}

.simon-button.blue {
  background-color: #2185D0;
}

.simon-button.highlight4{
  background-color: lightblue;
}

.navigate{
  text-align: center;
}

.order{
  text-align: center;
}

.result{
  text-align: center;
}
.restart{
  text-align: center;
  margin-top: 20px;
}

.start{
  background-color: rgb(158, 252, 252);
  border-radius: 4px;
  padding: 15px 32px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  color: rgb(51, 51, 51);
  display: inline-block;
}

.start:hover {
  background-color: cornflowerblue;
  color: azure;
}

.hidden{
  visibility: hidden;
}

.clicks{
  text-align: center;
}

.reset{
  background-color: rgb(158, 252, 252);
  border-radius: 4px;
  padding: 15px 32px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  color: rgb(51, 51, 51);
  display: inline-block;
}

.unclickable{
  pointer-events: none;
}

